h1 {
    color: #ec183f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align:justify;

}
p{
    text-align:justify
    
}
.imagem{
    width: 100px;
    background-color: black;
    
    
}

body{
    font-family: 'Rajdhani',sans-serif;
    font-size: 16px;
    margin: auto;
    width: 500px;
}